<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForexAPITester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ForexAPITester.Properties.Settings>
      <setting name="Epic" serializeAs="String">
        <value>CS.D.GBPUSD.TODAY.IP</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>1080, 720</value>
      </setting>
      <setting name="SwitchValidity" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="AutomaticTrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxTrades" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TradeSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StopDistance" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LimitDistance" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SARCloseNow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SARCloseLater" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SignallingMinutes" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ProbeWindowMinutes" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="FilterWindowMinutes" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="RelationUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RelationDown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RelationBoth" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </ForexAPITester.Properties.Settings>
  </userSettings>
</configuration>
